@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");
.container {
  display: grid;
  margin: 0 auto;
  padding: 0 1rem;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container-fluid {
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

@media (min-width: 576px) {
  .col-sm-1 {
    grid-column: span 1;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-12 {
    grid-column: span 12;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    grid-column: span 1;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-12 {
    grid-column: span 12;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    grid-column: span 1;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    grid-column: span 1;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-12 {
    grid-column: span 12;
  }
}
#sidebar {
  display: none;
}
@media (min-width: 768px) {
  #sidebar {
    display: initial;
  }
}

body {
  margin: 0;
  font-family: "Roboto Mono", monospace, monospace;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin: 0 auto;
}
.header__title {
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 1.25rem;
  }
}
.header__nav {
  text-align: right;
  font-weight: 400;
}
.header__nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.header__item {
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .header__item {
    font-size: 1rem;
    margin: 0.75rem;
  }
}
.header__item--medium {
  text-decoration: none;
  text-transform: uppercase;
  display: none;
}
@media (min-width: 768px) {
  .header__item--medium {
    display: initial;
  }
}
.header__input {
  display: inline-block;
  padding: 0.3rem 0.7rem;
  border-radius: 2rem;
  width: 65%;
}
@media (min-width: 768px) {
  .header__input {
    width: 85%;
  }
}

.content__news {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 3rem;
}
@media (min-width: 576px) {
  .content__news {
    width: 90%;
    margin: 0 auto;
  }
}
.content__title {
  font-size: 1rem;
  font-weight: 600;
}
@media (min-width: 992px) {
  .content__title {
    font-size: 1.25rem;
  }
}
.content__body {
  font-size: 0.75rem;
  font-weight: 400;
}
.content__body img {
  width: 100%;
  height: auto;
}

.sidebar__nosotros {
  border-bottom: 1px solid gray;
}
.sidebar__text {
  font-size: 0.75rem;
  font-weight: 400;
}
.sidebar__tags {
  border-bottom: 1px solid gray;
}
.sidebar__tags ul {
  padding: 0;
  list-style: none;
}
.sidebar__tags li {
  font-size: 0.75rem;
  font-weight: 400;
  display: inline-block;
  padding: 0.125rem 0.25rem;
  background-color: steelblue;
  color: #fff;
}
.sidebar__item {
  font-size: 0.75rem;
}
.sidebar__item img {
  width: 100%;
  height: auto;
}
.sidebar__featured {
  margin-bottom: 3rem;
}

.newsletter {
  background-color: #f2f4f5;
  text-align: center;
  padding: 2rem 0;
}
.newsletter__title {
  font-size: 1.5rem;
  font-weight: 600;
}
.newsletter__text {
  font-size: 0.75rem;
  font-weight: 400;
}
.newsletter__group {
  display: inline-block;
  border-style: none;
  padding: 0.3rem 0.7rem;
}
.newsletter__button {
  padding: 0.3rem 0.7rem;
  border-style: none;
  background-color: coral;
  color: #fff;
}

.footer {
  margin: 0 auto;
  font-size: 0.75rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
